body {
	font-family: 'Slabo 27px', serif;
	background-color: white;
	color: blue;
}
h1 {text-align: center;
}
.plain-list {
	list-style: none;
}
#profile {
	width: 300px;
	float: right;
}

a:hover {
	color: orange;
}
@media (max-width: 800px) {
	#profile {
		width:120px;
	}
}